@import url("https://fonts.googleapis.com/css2?family=Alata&family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Alegreya:ital,wght@0,400..900;1,400..900&family=Anton&family=Contrail+One&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Days+One&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Manrope:wght@200..800&family=Nanum+Myeongjo&family=Outfit:wght@100..900&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap"); /* Reset some default browser styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Set up base font and background */
html,
body {
  height: 100%;
  font-family: "Overlock", sans-serif;
}

::placeholder {
  font-family: "Overlock", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #7b7b7b;
  border-radius: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
